<%= javascript_include_tag('jquery.min', 'jquery.datepick')%>
<%= stylesheet_link_tag('jquery.datepick')%>

<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>

<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.text_field :dob, :id => :popupDatepicker %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.radio_button :gender, "Male" %> Male
    <%= f.radio_button :gender, "Female" %> Female
  </div>
  <div class="field">
    <%= f.label :languagesknown %><br />
    Telugu <%= f.check_box :languagesknown, { :multiple => true }, 'telugu',nil %> <br>
    Hindi <%= f.check_box :languagesknown, { :multiple => true }, 'hindi',nil %> <br>
    English <%= f.check_box :languagesknown, { :multiple => true }, 'english',nil %> 

  </div>
  <div class="field">
    <%= f.label :profilepicture %><br />
    <%= f.text_field :profilepicture %>
  </div>
  <div class="field">
    <%= f.label :aboutme %><br />
    <%= f.text_area :aboutme, :cols=>"50", :rows=>"15" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
$(function() {
    $('#popupDatepicker').datepick({dateFormat: 'mm-dd-yyyy'});
        
});

</script>


<script type="text/javascript">
       bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>

