
<table border="1">
  <tr>
    <th>Name</th>
    <th>Dob</th>
    <th>Gender</th>
    <th>Languagesknown</th>
    <th>Profilepicture</th>
    <th>Aboutme</th>
  </tr>

<% @registrations.each do |registration| %>
  <tr>
    <td><%= registration.name %></td>
    <td><%= registration.dob %></td>
    <td><%= registration.gender %></td>
    <td><%= registration.languagesknown %></td>
    <td><%= registration.profilepicture %></td>
    <td><%= registration.aboutme %></td>
      </tr>
<% end %>
</table>

<br />


